body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-gray-500);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-secondary);
}

.list-menu:hover {
    background-color: var(--bs-gray-200);
}

.list-menu.danger:hover {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}